[submodule "engine/vendor/volk"]
	path = engine/vendor/volk
	url = https://github.com/zeux/volk
[submodule "engine/vendor/docopt"]
	path = engine/vendor/docopt
	url = https://github.com/docopt/docopt.cpp
[submodule "engine/vendor/spdlog"]
	path = engine/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "engine/vendor/vma"]
	path = engine/vendor/vma
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator
[submodule "engine/vendor/entt"]
	path = engine/vendor/entt
	url = https://github.com/skypjack/entt
[submodule "engine/vendor/shaderc"]
	path = engine/vendor/shaderc
	url = https://github.com/google/shaderc
[submodule "engine/vendor/tinygltf"]
	path = engine/vendor/tinygltf
	url = https://github.com/syoyo/tinygltf
[submodule "engine/assets"]
	path = engine/assets
	url = https://github.com/KhronosGroup/Vulkan-Samples-Assets
[submodule "engine/vendor/glslang"]
	path = engine/vendor/glslang
	url = https://github.com/KhronosGroup/glslang
[submodule "engine/vendor/spirv-cross"]
	path = engine/vendor/spirv-cross
	url = https://github.com/KhronosGroup/SPIRV-Cross
[submodule "engine/vendor/thread_pool"]
	path = engine/vendor/thread_pool
	url = https://github.com/progschj/ThreadPool
[submodule "engine/vendor/ktx"]
	path = engine/vendor/ktx
	url = https://github.com/KhronosGroup/KTX-Software
[submodule "engine/vendor/stb"]
	path = engine/vendor/stb
	url = https://github.com/nothings/stb
[submodule "engine/vendor/glfw"]
	path = engine/vendor/glfw
	url = https://github.com/glfw/glfw
[submodule "engine/vendor/astc-encoder"]
	path = engine/vendor/astc-encoder
	url = https://github.com/ARM-software/astc-encoder
[submodule "engine/vendor/glm"]
	path = engine/vendor/glm
	url = https://github.com/g-truc/glm
[submodule "engine/vendor/vulkan"]
	path = engine/vendor/vulkan
	url = https://github.com/KhronosGroup/Vulkan-Headers
