[submodule "Engine/vendor/volk"]
	path = Engine/vendor/volk
	url = https://github.com/zeux/volk
[submodule "Engine/vendor/glm"]
	path = Engine/vendor/glm
	url = https://github.com/g-truc/glm
[submodule "Engine/vendor/glfw"]
	path = Engine/vendor/glfw
	url = https://github.com/glfw/glfw
[submodule "Engine/vendor/vma"]
	path = Engine/vendor/vma
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator
[submodule "Engine/vendor/spdlog"]
	path = Engine/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Engine/vendor/docopt"]
	path = Engine/vendor/docopt
	url = https://github.com/docopt/docopt.cpp
